<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="exchangeServices" type="HMMSReadEmail.Configuration.ExchangeServicesSection, HMMSReadEmail" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <exchangeServices>
    <add url="https://owa.ursfs.com/owa/auth/logon.aspx" version="Exchange2010_SP1" useDefaultCredentials="false" userName="larry.dunn" password="123456789" domain="services" retries="2" retryDelay="4">
      <mailboxes>
        <add address="Inbox" useDefaultCredentials="false" userName="larry.dunn" password="123456789" domain="services" />
      </mailboxes>
    </add>
  </exchangeServices>
  <connectionStrings>

    <!-- PROGRAMMERS MACHINE -->
    <!--<add name="HMMSEntitiesDB" connectionString="metadata=res://*/HMMSModel.csdl|res://*/HMMSModel.ssdl|res://*/HMMSModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=REFMLDEV-03574\MSSQLSERVER01;initial catalog=HMMS;persist security info=True;user id=WTMS;password=8397Py+uU2wsNznQM1N9oA==;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
    <!-- DEV 10.15.21.39 -->
    <add name="HMMSEntitiesDB" connectionString="metadata=res://*/HMMSModel.csdl|res://*/HMMSModel.ssdl|res://*/HMMSModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=MSFTA1VXDEVBI01;initial catalog=HMMS;persist security info=True;user id=hmmc_hmms;password=tOHrP9h7O/9YXrxTlEUUfg==;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <!-- PROD 10.15.21.101  -->
    <!--MSFTA1VXPRDBI01: 10.15.21.101-->
    <!--<add name="HMMSEntitiesDB" connectionString="metadata=res://*/HMMSModel.csdl|res://*/HMMSModel.ssdl|res://*/HMMSModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=MSFTA1VXPRDBI01\MSSQLSERVER01;initial catalog=HMMS;persist security info=True;user id=WTMS;password=9cHzMikvu5A6p3V9E5eybA==;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
    <!-- TEST 10.15.21.72 -->
    <!--MSFTA1VXTSTBI01: 10.15.21.72-->
    <!--<add name="HMMSEntitiesDB" connectionString="metadata=res://*/HMMSModel.csdl|res://*/HMMSModel.ssdl|res://*/HMMSModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=MSFTA1VXTSTBI01\MSSQLSERVER01;initial catalog=HMMS;persist security info=True;user id=WTMS;password=n0g45rG2e6kxHZSG5nHykA==;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
  </connectionStrings>
  <appSettings>
    <!-- PROGRAMMERS MACHINE -->
    <!--<add key="ReadDir" value="C:\HMMSLoad" />
    <add key="ErrorFolder" value="C:\HMMSLoad\Error" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
    <add key="ProcessFolder" value="C:\HMMSLoad\Processed" />
    <add key="BatFileName" value="C:\HMMSLoad\BatchFiles\HMMS_ExportCSV.bat" />-->
    
    <!-- DEV 10.15.21.39 -->
    <add key="ReadDir" value="F:\IFS_Connect\HMMS\in" />
    <add key="ErrorFolder" value="F:\IFS_Connect\HMMS\in\Error" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
    <add key="ProcessFolder" value="F:\IFS_Connect\HMMS\in\Processed" />
    <add key="BatFileName" value="F:\IFS_Connect\HMMS\in\BatchFiles\HMMS_ExportCSV.bat" />
    
    <add key="EmailAddress" value="HMMSTransform_DEV@aecom.com" />  <!--– for DEV environment to receive -->
    <!--- DEV -->
    <add key="FromMail" value="HMMSTransform_DEV@aecom.com" />
    <!--- TEST -->
    <!-- <add key="FromMail" value="HMMSTransform_TEST@aecom.com"/> -->
    <!--- PROD -->
    <!-- <add key="FromMail" value="HMMSTransform_PROD@aecom.com"/> -->
    <add key="Password" value="****" />
    <add key="Host" value="smtpout.secureserver.net" />
    <!--<add key="EmailAddress" value="HMMSTransform_TEST@aecom.com" />  --><!--– for TEST environment to receive -->
    <!--<add key="EmailAddress" value="HMMSTransform_PROD@aecom.com" />  --><!--– for PROD environment to receive"</appSettings> -->
  </appSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
<!--<connectionStrings>
  <add name="HMMSEntitiesDB" connectionString="metadata=res://*/HMMSModel.csdl|res://*/HMMSModel.ssdl|res://*/HMMSModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=REFMLDEV-03574\MSSQLSERVER01;initial catalog=HMMS;persist security info=True;user id=WTMS;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
</connectionStrings>-->
</configuration>